<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- Phase 1 -->
   <!-- Declare the view part to hold the default implementation --> 
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ru.bars_open.med.designer.navigator.category"
            name="M3 Designer"/>
      <view
            allowMultiple="false"
            category="ru.bars_open.med.designer.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/filenav_nav.gif"
            id="ru.bars_open.med.designer.navigator.view"
            name="M3 Project Navigator"/>
   </extension>
   
   <!-- Declare the viewer configuration, and the default content/action bindings -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="ru.bars_open.med.designer.navigator.view">
         <popupMenu
               allowsPlatformContributions="true"
               id="ru.bars_open.med.designer.navigator.view.menu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.goto">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding viewerId="ru.bars_open.med.designer.navigator.view">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/> 
            <contentExtension pattern="ru.bars_open.med.designer.navigator.filters.*"/> 
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="ru.bars_open.med.designer.navigator.view">
         <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*"/>
         </includes>
      </viewerActionBinding>
   </extension>
   
   <!-- Declare a simple filter example that uses core expressions -->
  
  <!-- Phase 2 -->
  <!-- Declare a content extension that renders the contents of a properties file -->
  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
         
      <navigatorContent 
            id="ru.bars_open.med.designer.navigator.propertiesContent" 
            name="Models File Contents"
            contentProvider="ru.bars_open.med.designer.navigator.PropertiesContentProvider"
            labelProvider="ru.bars_open.med.designer.navigator.PropertiesLabelProvider" 
            activeByDefault="true"
            icon="icons/prop_ps.gif"
            priority="normal" >
         <triggerPoints>
         	<or>
	            <and>
	               <instanceof value="org.eclipse.core.resources.IResource"/>
	               <test
	                     forcePluginActivation="true"
	                     property="org.eclipse.core.resources.name"
	                     value="models.py"/>
	            </and>
				<instanceof value="ru.bars_open.med.designer.navigator.PropertiesTreeData"/>
			</or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="ru.bars_open.med.designer.navigator.PropertiesTreeData"/> 
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <!-- Bind the Properties content extension to the viewer -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="ru.bars_open.med.designer.navigator.view">
         <includes>
            <contentExtension pattern="ru.bars_open.med.designer.navigator.propertiesContent"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="ru.bars_open.med.designer.navigator.actions.properiesResorce"
            objectClass="ru.bars_open.med.designer.navigator.PropertiesTreeData">
         <action
               class="ru.bars_open.med.designer.navigator.DeleteModel"
               enablesFor="1"
               helpContextId="org.eclipse.ui.edit.delete"
               icon="icons/prop_ps.gif"
               id="ru.bars_open.med.designer.navigator.actions.DeleteModel"
               label="Удалить модель"
               menubarPath="group.edit"
               tooltip="Удалить модель">
         </action>
      </objectContribution>
   </extension>
  
</plugin>
