script: true
install: true
language: python
python: 
- '2.7'

deploy: 
  provider: pypi
  user: bars-travis
  password: 
    secure: KysYncbcePSHw7o/jHl5nW40n3uCc5jvjmPq1GKde6p+8mFdzBUE0qKwKN/906kZYfW12UkWZkpUDdIViOf6Olr5yP4QcehRhVff+g+cO/g/GZQmXLHIKZVMwRbbogG7LoxSJ5pXIGe4+u2rcXjn/wVERorybZqvC+WjSKyLOh8=
  on: 
    tags: true
  distributions: sdist

notifications:
  email:
    recipients:
    - dev-py@bars-open.ru
