/* фикс для интеграции с ExtJS 4.1 */

x-body {
    font: normal 12.0 tahoma, arial, verdana, sans-serif !important;
}

.x-border-box #ux-taskbar,
.x-border-box #ux-toptoolbar *,
.x-border-box #login_board *,
.x-border-box .x3-window *
{
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
}

#x3-desktop > table,
#x3-desktop .widgets-box-win .widget-layout-table {
    border-spacing: 7px;
    border-collapse: separate;
}