.add_item {
    background-image:url(../images/add_item.png) !important;
}
.edit_item {
    background-image:url(../images/edit_item.png) !important;
}
.delete_item {
    background-image:url(../images/delete_item.png) !important;
}

.table_refresh {
    background-image:url(../images/table_refresh.png) !important;
}

.refresh-icon-16 {
    background-image:url(../images/table_refresh.png) !important;
}

.user-icon-16 {
    background-image:url(../images/user-16.png) !important;
}

.select{
    background-image:url(../images/select_value.gif) !important;
}
.clear{
    background-image:url(../images/clear_field.gif) !important;
}
.search{
    background-image:url(../images/search.png) !important;
}
q:before,q:after{content:'';}.m3-el-mask {
	position: absolute;	
	z-index: 100;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    zoom: 1;
}
.ext-gecko2 .ext-mb-fix-cursor {
    overflow:auto;
    
}.m3-el-mask {
    background-color: #ccc;
}

.x-form-select-trigger {
	background-image:url(../images/select-dict.gif) !important;
}
.x-form-edit-trigger {
	background-image:url(../images/trigger-edit-form.gif) !important;
}
.x-form-current-date-trigger {
	background-image:url(../images/trigger-current-date.gif) !important;
}

.x-toolbar-ct .x-btn-focus em button{
	border: 1px dotted;
}

td.x-grid3-cell .x-grid3-hd-inner {
    background-color:#f9f9f9;
	background-image:url(../../vendor/extjs/resources/images/default/grid/grid3-hrow.gif);
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-color:#ebf3fd;
    background-image:url(../../vendor/extjs/resources/images/default/grid/grid3-hrow-over.gif);

}
.m3-form-invalid {
  background: none repeat scroll 0 0 #ffffaa !important;
}

.x-grid-with-col-lines .x-grid3-row td.x-grid3-cell {
    border-right-color: #D0D0D0;
}

.x-form-file-image {
    background-image:url(../images/image_add.png) !important;
}

.x-form-file-clear-image {
    background-image:url(../images/file_del.png) !important;
}

.x-form-file-download-image {
    background-image:url(../images/file_download.png) !important;
}

.x-form-file-clear {
    position: absolute;
    
    right: 22px;
    z-index: 3;
}

.x-form-file-download {
    position: absolute;
    
    right: 42px;
    z-index: 3;
}