.designer-icon-combo {
    background-image:url(../images/combo-field.png) !important;
}
.designer-icon-fieldset {
    background-image:url(../images/fieldset.png) !important;
}
.designer-icon-number {
    background-image:url(../images/number-field.png) !important;
}
.designer-icon-text {
    background-image:url(../images/text-field.png) !important;
}
.designer-icon-page {
    background-image:url(../images/page.png) !important;
}
.designer-icon-datefield {
    background-image:url(../images/date-field.png) !important;
}
.designer-panel {
    background-image:url(../images/panel.png) !important;
}
.designer-tab-panel {
    background-image:url(../images/tab-panel.png) !important;
}
.designer-grid-panel {
    background-image:url(../images/grid.png) !important;
}
.designer-grid-column {
    background-image:url(../images/grid-column.png) !important;
}
.x-tree-lines .x-tree-elbow-plus {
    background-image:url(../images/designer-plus.png) !important;
}

.x-tree-lines .x-tree-elbow-minus {
    background-image:url(../images/designer-minus.png) !important;
}

.x-tree-lines .x-tree-elbow-end-plus {
    background-image:url(../images/designer-plus.png) !important;
}

.x-tree-lines .x-tree-elbow-end-minus {
    background-image:url(../images/designer-minus.png) !important;
}

.selectedElement {
    border: 2px solid #710AF0
}