.icon-function{ background-image:url(../images/icon-function.png) !important; }
.icon-class { background-image:url(../images/icon_c.gif) !important; }

/*Standart*/
.designer-displayfield {background-image:url(../images/display-field.png) !important;}
.designer-button { background-image:url(../images/button.png) !important;}

/*Containers*/
.designer-container {background-image:url(../images/container.png) !important;}
.designer-panel {background-image:url(../images/panel.png) !important;}
.designer-icon-fieldset { background-image:url(../images/fieldset.png) !important;}
.designer-tab-panel {background-image:url(../images/tab-panel.png) !important;}
.designer-formpanel {background-image:url(../images/formpanel.png) !important;}

/*Fields*/
.designer-textarea {background-image:url(../images/textarea.png) !important;}
.designer-checkbox {background-image:url(../images/checkbox.png) !important;}
.designer-icon-datefield {background-image:url(../images/date-field.png) !important;}
.designer-timefield {background-image:url(../images/timefield.png) !important;}
.designer-icon-text { background-image:url(../images/text-field.png) !important;}
.designer-icon-number { background-image:url(../images/number-field.png) !important;}
.designer-htmleditor {background-image:url(../images/htmleditor.png) !important;}
.designer-icon-combo { background-image:url(../images/combo-field.png) !important;}

/*Grig*/
.designer-grid-panel {background-image:url(../images/grid.png) !important;}
.designer-grid-column {background-image:url(../images/grid-column.png) !important;}

/*Toolbar*/
.designer-toolbar { background-image:url(../images/toolbar.png) !important; }
.designer-toolbar-fill { background-image:url(../images/toolbar-fill.png) !important;}
.designer-toolbar-separator { background-image:url(../images/toolbar-separator.png) !important;}
.designer-toolbar-spacer { background-image:url(../images/toolbar-spacer.png) !important;}

/*Data or store*/
.designer-store-json { background-image:url(../images/store-json.png) !important; }
.designer-store-array { background-image:url(../images/store-array.png) !important; }

/*Tree*/
.designer-tree-node { background-image:url(../images/tree-node.png) !important; }

/*M3*/
.designer-tree-panel { background-image:url(../images/tree-panel.png) !important; }

/**/
.designer-icon-page { background-image:url(../images/page.png) !important;}


.selectedElement {
    border: 2px solid #710AF0 !important
}
/*Custom окно аля toolTip*/
.x-tipcustom{
    position:absolute;
    top:0;
    left:0;
    visibility:hidden;
    z-index:20000;
    border:0 none;
}
.x-tipcustom > * {
    background: rgba(51, 51, 51, 0.7);

    /*transition: background 0.3s linear 0.3s;*/
    /* Firefox 4 */
    /*-moz-transition:background 0.3s linear 0.3s;*/
    /* Safari and Chrome */
    /*-webkit-transition:background 0.3s linear 0.3s;*/
    /* Opera */
    /*-o-transition-transition:background 0.3s linear 0.3s;*/
}
/*.x-tipcustom:hover > * {*/
    /*background: rgba(51, 51, 51, 0.8);*/
/*}*/
.x-tipcustom .x-tipcustom-bwrap{
    border-radius: 0 0 5px 5px;
}
.x-tipcustom.x-panel-collapsed .x-tipcustom-tl{
    border-radius: 5px;
}

/*.x-tipcustom .x-tool{background-image:url(../images/gray/panel/tool-sprites.gif)}*/
/*.x-tipcustom .x-tool.x-tool-close{background-position: 0 0}*/

.x-tipcustom .x-tipcustom-tl{padding-left:10px;overflow:hidden;zoom:1; padding-bottom: 2px; border-radius: 5px 5px 0 0}
.x-tipcustom .x-tipcustom-tc{padding-top:3px;overflow:hidden;zoom:1;}
.x-tipcustom .x-tipcustom-tr{padding-right:6px;overflow:hidden;zoom:1}

.x-tipcustom .x-tipcustom-ml{padding-left:6px;zoom:1;}
.x-tipcustom .x-tipcustom-mc{border:0 none;font:normal 11px tahoma,arial,helvetica,sans-serif;}
.x-tipcustom .x-tipcustom-mr{padding-right:6px;zoom:1;}


.x-tipcustom .x-tipcustom-bl{padding-left:6px;zoom:1}
.x-tipcustom .x-tipcustom-br{padding-right:6px;zoom:1}
.x-tipcustom .x-tipcustom-bc{padding-bottom:2px;height:2px;overflow:hidden; } /*padding-bottom:6px;height:6px;*/

.x-tipcustom .x-tipcustom-body{font:normal 11px tahoma,arial,helvetica,sans-serif;margin:0!important;line-height:14px;padding:0;overflow-x: hidden !important;}
.x-tipcustom .x-tipcustom-body .loading-indicator{margin:0;}
.x-tipcustom .x-tipcustom-body .x-form-item .x-form-item-label{color:white;}

.x-tipcustom-icon{ background: url(../images/cog_16x16.png) no-repeat left center; height:18px; width:20px;}

.ext-ie .x-tipcustom .x-tipcustom-header,.ext-ie .x-tipcustom .x-tipcustom-tc{font-size:0;line-height:0;}
.x-tipcustom .x-tipcustom-header-text{font:bold 11px tahoma,arial,helvetica,sans-serif;padding:0;margin:0 0 2px 0;color:white; padding: 0 15px 0 20px; line-height: 19px}

.x-tipcustom-header .x-tool.x-tool-close{
    margin-top:2px;
}

/*.x-tipcustom-draggable .x-tipcustom-header,.x-tipcustom-draggable .x-tipcustom-header-text{cursor:move;}*/

/*.x-tipcustom-header-text a{ text-decoration:none }*/
/*.x-tipcustom-icon.wraped{ padding-left: 20px; color: white; }*/


/* Адекватный скроллинг */
/*.CodeMirror-wrapping{ height:auto !important; width:auto !important;}*/