<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Дизайнер UI</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />      
        <style type='text/css'>
            html, body{font-family:Tahoma,Sans;font-size:11px;}
            #loading-mask{position:absolute;top:0;left:0;width:100%;height:100%;background:#000000;z-index:1001;}
            #loading{position:absolute;top:40%;left:45%;z-index:1002;}
        </style>
		
		{# extjs #}
    
    <!-- extjs -->
    <link rel='stylesheet' type='text/css' href='/m3static/vendor/extjs/resources/css/ext-all.css'/>
    <link rel='stylesheet' type='text/css' href='/m3static/vendor/extjs/resources/css/ux/ux-all.css'/>
    
    <link rel="stylesheet" type="text/css" href="/m3static/ext/css/TreeGrid.css"/>
    
    <!-- m3 css-->
    <link rel='stylesheet' type='text/css' href='/m3static/m3/css/m3.css'/>
    <link rel='stylesheet' type='text/css' href='/m3static/m3/css/icons.css'/>
    
    <!-- m3 lightbox css-->
    <link rel='stylesheet' type='text/css' href='/m3static/ext/css/lightbox.css'/>

    <script type="text/javascript" src="/m3static/vendor/extjs/adapter/ext/ext-base.js"></script>
    <script type='text/javascript' src='/m3static/vendor/extjs/ext-all-debug.js'></script>
    <script type='text/javascript' src='/m3static/vendor/extjs/ux-all-debug.js'></script>
    <script type='text/javascript' src='/m3static/vendor/extjs/locale/ext-lang-ru.js'></script>       
      
    <script type='text/javascript' src='/m3static/m3/js/m3-opt.js'></script>

    <!-- Дизайнер -->
    <link rel='stylesheet' type='text/css' href='/static/css/designer.css'/>

    <script type="text/javascript" src="/static/designer-src/view.js"></script>
    <script type="text/javascript" src="/static/designer-src/property-editor.js"></script>
    <script type="text/javascript" src="/static/designer-src/transfer.js"></script>    
    <script type="text/javascript" src="/static/designer-src/controller.js"></script>
    <script type="text/javascript" src="/static/designer-src/model.js"></script>
    <script type="text/javascript" src="/static/designer-src/ui.js"></script>
    <script type="text/javascript" src="/static/designer-src/utils.js"></script>
    <script type="text/javascript" src="/static/designer-src/model-types.js"></script>
    <script type="text/javascript" src="/static/designer-src/server.js"></script>
    <script type="text/javascript" src="/static/designer-src/model-types-config.js"></script>
    <script type="text/javascript" src="/static/designer-src/code-viewers.js"></script>    
    <script type="text/javascript" src='/static/designer-src/bootstrapper.js'></script>
    <script type="text/javascript" src='/static/designer-src/ui-mocks.js'></script>

	<!-- Файлы проекта -->
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
    <script type='text/javascript' src='/static/js/main.js'></script>
    
    </head>
    <body scroll="no">
    	
    	 <script type="text/javascript">
            Ext.onReady(function(){
                
                	Ext.QuickTips.init();
	
					new Ext.Viewport({
						title: 'Дизайнер UI m3'
					    ,layout: 'border'
					    ,items: [{
					        region: 'west'
					        ,collapsible: true
					        //,collapseMode:'mini'
					        ,title: 'Структура проекта'
					        ,split: true
					        ,width: 300
					        ,maxWidth: 300
					        ,minWidth: 200
					        ,layout: 'fit'
					        ,items: [ createTreeView('{{ project_name }}') ]
					    }, 
					    tabPanel]
					});		                
            });

        </script>
        
    </body>
</html>
